.avatar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    scale: .8;
}

.avatar-username {
    font-size: 25px;
}

.timestamp {
    text-align: right;
    font-size: 25px;
}